/* Navbar css */
  #navbar{
  display: block;
  color: black; 
  text-align: center;
  padding: 14px 16px; 
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;

  }

  #navbar:hover{
    color: white;
    background-color: black;
  }

/* main content */
  .banner {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .intro {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .intro h1{
    font-weight: bold;
  }

  #shop-now-button{
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  #shop-now-button:hover{
    background-color: black;
  }  
  
/* top products and services css */
  #top-product,#services-offer{
  max-width: 100%;
  }
  
  #home-card {
    height: 80vh;  

  }

  #home-card-img{
    height: 500px;

  }

  #top-product-button{
    text-align: center;
    width: 150px;
    height: 40px;
    background: transparent;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  #top-product-button:hover{
    background-color: black;
  }

  /* Responsive Styles */
  /* Adjust styles for screens smaller than 768px (e.g., tablets and phones) */
  @media only screen and (max-width: 768px) {
  
  /* Navbar adjustments */
  #navbar {
    text-align: right; 
  }

  /* Banner adjustments */
  .banner {
    height: auto;
    background-size: 120%;  
  }

  .intro {
    position: static; /* Remove absolute positioning */
    text-align: center; /* Center text */
    transform: none; /* Remove translation */
    font-size: 15px;
  }

  .row{
    margin-top: 10px;
  }

  #home-card {
    height: auto;  
  }

  #home-card-img{
    height: auto;

  }

}

/* Responsive Styles for screens up to 430px */
@media only screen and (max-width: 430px) {
  /* Navbar adjustments for smaller screens */
  #navbar {
    padding: 10px; /* Adjust padding */
  }
}