*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

    background: black;
    color: white;
}
#header{
width: 100%;
height: 100vh;
background-image: url(image/surya.jpg);
background-size: cover;
background-position:center;


}
