  .App {
  text-align: center;
}
 

.App-header { 
  background-color: #282c34;
  color: white;  
  display: flex;
  min-height: 100vh; 
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  align-items: 
  center;  
 
  justify-content: left;
 }  

  @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-link  {   
  color: #61dafb;
}

button:hover  {
padding: 10px;
font-weight: bold;
}



th,
td {
    text-align: center;
    border: 2px solid black;
    padding: 10px;



}

table {
    display: block;

    justify-content: center;
    border-collapse: collapse;

}

th {
    background-color: grey;
    color: white;
}

td:hover {
    background-color: lightblue;
    color:    blue ; 
   font-weight: bold ;
    cursor: pointer;
    letter-spacing: 5px;

}

 
 